/* General */

.container{
    display: Flex;
}

body{
    font-family: "Open Sans", Roboto,Verdana, Geneva, sans-serif;
    margin: 0;
}

p{
    font-size: 14px;
}

header{
    display:flex;
    padding:15px;
    max-width: 1024px;
    margin: 0 auto;
}

header h1{
    margin:0 auto;
}

#map {
    height: calc(100vh - 114px);;
    width:100%;
    margin-right:40px;
}

.loading{
    text-align: center;
    width:100%;
    max-width:600px;
    margin:100px auto;
}

.firstBlock{
    display:flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    margin-bottom:20px;
    background-color: #fff;
}

/* StreetView */

#streetView{
    height: auto;
    max-height:600px;
    order: 1;
    width: 100%;
    min-width: 320px;
}
#pano, #streetViewWrapper{
    max-height:600px;
    width: 100%;
    min-width: 320px;
    height: 100%;
}

#see-photo, #seeStreetView{
    min-width:105px;
}

#streetView{
    height: auto;
    max-height: 600px;
    order: 1;
    width: 100%;
    min-width: 320px;
}

/* Liste Restaurants */

#scroll {
    width: 100%;
    height: calc(100vh - 156px);
    overflow: auto;
    cursor: pointer;
    overflow-x: hidden;
    margin-top:10px;
    margin-bottom:10px;
}

#results .rating{
    font-size:20px;
}

.filtre{
    padding: 10px 0;
    text-align: center;
    color: #000;
}

.filtre label{
    margin-right: 10px;
}

.listRestaurants{
    display:flex;
    background: #1e8fbb;
    padding: 10px 0;
    border-bottom: 1px solid #f2f2f2;
}

.placeDetails{
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listRestaurants:hover{
    background-color:#71B1CD;;
}

.listRestaurants:last-child{
    margin-bottom:10px;
}

#rating {
    font-size: 20px;
    font-family: Arial Unicode MS Verdana;
}

/* InfoWindows */

#iw-icon{
    font-weight:bold
}

/* Commentaires */

.titreCommentaire{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#addCommentaire, #addRestaurant{
    width: 90%;
    margin: 0 auto;
    color: #1e8fbb;
    color: #1e8fbb;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
}

#addCommentaire:hover, #addRestaurant:hover{
    color: #1e8fbb;
}

.restaurant{
    width:70%;
    max-width:800px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.listInfo{
    min-width: 330px;
    width: 330px;
    background-color: #fff;
}

.mapWrap{
    min-width:320px;
    width: 100%;
    height:600px;
    padding:10px;
}

.nomRestaurant{
    color: #1e8fbb;
    text-align: center;
}

#restaurantInfo{
    background-color: #fff;
    padding: 10px;
}

.rating{
    font-size:22px;
    color: orange;
}

.separator{
    border-bottom: 3px solid #000000;
}

.auteurCommentaire{
    font-weight: bold;
    font-size: 17px;
}

.restaurantDetails{
    margin-bottom: 10px;
    text-align: center;
}

#iwMap .details{
    color: #383838;
    font-weight: 300;
    font-size: 13px;
    max-width:300px;
}

#iwMap .details div{
    padding-bottom:5px;
}

#iwRating{
    color: #1e8fbb;
    font-size: 25px;
    text-align: center;
    font-weight:600;
    margin:0;
}

#iwUrl {
    font-size: 20px;
    text-align: center;
    margin: 5px 0 10px 0;
}

#iwUrl a{
    color: #1e8fbb;
}

#iwMap .gm-style{
    height: 190px;
    width: 300px;
}

/* liste commentaires */

#addList{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

#addList input, #addList textarea{
    margin-bottom:20px;
}

#persoCommentaire{
    height: 70px;
    font-size: 12px;
    padding: 5px;
}

#persoNote{
    width: 50px;
    height: 20px;
    border-radius: unset;
    border: none;
}

.buttonCommentaire{
    width: 100%;
    border: none;
    background: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 11px;
    height: 40px;
    min-width: 90px;
    margin: auto;
}

.buttonCommentaire a{
    text-decoration: none;
    color: white;
}

.headerCommentaire{
    display:flex;
    justify-content: space-between;
}

#addList label{
    font-size: 12px;
    margin-bottom: 5px;
}

#addList input{
    height: 15px;
    padding: 5px;
    font-size: 13px;
    width: 250px;
}

#addList textarea, #addList input{
    border: 1px solid #c8c9cb;
}

#iwIcon{
    max-width: 300px;
    max-height: 200px;
}

.buttonClass{
    display:flex;
    justify-content: flex-end;
}

.heading h2{
    margin:0;
}

/* InfoWindows ajout restaurant */

#formAjoutRestaurant{
    max-width: 300px;
}

#formAjoutRestaurant input{
    height: 20px;
    width: 100%;
    max-width: 280px;
    margin-bottom: 10px;
    font-size: 12px;
}
#formAjoutRestaurant select{
    height: 20px;
    width: 50px;
    margin-bottom: 10px;
    font-size: 12px;
    border-radius: unset;
    border: none;
}

.headAjoutRestaurant{
    color: #1e8fbb;
}

#addRestaurant {
    width: 95%;
}

/* media queries pour telephone */

@media screen and (max-width:768px){
    #map{
        height:100%;
        margin-bottom:10px;
    }

    #streetView{
        height:300px;
        margin-bottom: 10px;
        overflow: hidden;
    }
    .listInfo{
        width: auto;
        margin-right: 0;
    }

    .container, .firstBlock, header{
        flex-direction: column;
    }

    .restaurant{
        order:2;
        width:100%;
        padding:0;
        margin:0;
    }

    .map-wrapper{
        padding:0;
    }

    #iwIcon{
        display:none;
    }
}
